* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  color: #fa9191;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
  margin: 70px 0px;
  font-family: "Josefin Slab", serif;
  font-family: "Roboto", sans-serif;
}
.img_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_div img {
  width: 250px;
  height: 300px;
  /* margin-right: 20px; */
}

