* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
section {
  background-color: black;
  min-height: 100vh;
  /* width: 100%; */
  /* align-items: center; */
  color: white;

  padding: 50px 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  text-align: center;
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 30px;
  text-align: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  width: 80%;
  margin: 0 auto;
  grid-template-columns: auto auto auto;
}

.card_main {
  margin: 10px 30px;
  background-color: rgb(75, 75, 183);
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card_name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card_name span {
  font-weight: bold;
}

.card_total {
  font-size: 2rem;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  section {
    width: 120%;
  }
}

@media screen and (max-width: 768px) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    width: 80%;
    margin: 0 auto;
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 450px) {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: auto;
  }
}
